@using Ictshop.Models;
@model List<Hangsanxuat>

<br />

<div class="bg-success">
    <h3>DANH MỤC</h3>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <button class="btn btn-success mr-2"><a href="#">@item.Tenhang</a></button>
            </div>
        }
    </div>
</div>
